/Entidades/nbproject/private/
/Entidades/build/
/JavaApplication11/nbproject/private/
/JavaApplication12/nbproject/private/
/JavaApplication13/nbproject/private/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/Clases Utilidades/nbproject/private/
/Clases Utilidades/build/
/Clases Utilidades/dist/
/Ejercicio Integrador Escuela/nbproject/private/
/Ejercicio Integrador Escuela/build/
/Colecciones/nbproject/private/
/Colecciones/build/